@{
    ViewBag.Title = "About Sooners football";
}
<h2>About Sooners football</h2>

<h2>About the University of Oklahoma Football program.</h2>
<p>OU Football is coached by <b>Licoln Riley</b>. The Sooners have a bowl record <b>29-22-1 (.567)</b> and have <b>7 (1950, 1955, 1956, 1974, 1975, 1985, 2000)</b> in their history.</p>
