@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OU Football</h1>
    <p class="lead">The Oklahoma Sooners football program is a college football team that represents the University of Oklahoma. The team is a member of the Big 12 Conference, which is a Division 1 Football Bowl Subdivision of the National Collegiate Athletic Association.
    <a target="_blank" href="https://soonersports.com/sports/football" class="btn btn-primary btn-large">Learn More &raquo;</a></p>
</div>

