@model IEnumerable<MVCReview.Models.FootballSchedule>

@{
    ViewBag.Title = (Model.First().Season + " Year Schedule");
    var color = "white";
    var glyph = "glyphicon-glow";

}

<h2 style="text-align:center;">OU Football Schedule for @Model.First().Season</h2>

@foreach (var item in Model)
{
    if (item.IsHomeGame)
    {
        color = "darkred";
        glyph = "glyphicon-home";
    }
    else
    {
        color = "black";
        glyph = "glyphicon-globe";
    }
    <div class="card" style="width:200px; height:255px; background-color:@color; float:left; padding:5px; margin:5px; color:white; border-radius:25px;">
        <div class="card-body">
            <span class="@("glyphicon " + glyph)" style="color:white;font-size:2.2em;"></span>
            @if(item.Opponent.Trim().ToLower() == "Texas")
            {
                <img class="card-img-top" style="width:55%;" src="https://www.thelostogle.com/wp-content/uploads/2010/02/texas-longhorn-logo-450x225.jpg" alt="horns down" />
            }
            <h5 class="card-title" style="font-size:24px;">OU vs. @item.Opponent</h5>
            <p class="card-text">@item.Date.ToLongDateString()</p>

        </div>
    </div>
}


<div class="row"></div>